.u-section-1 .u-sheet-1 {
  min-height: 50vh;
}
.u-section-1 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 0;
}
.u-section-1 .u-layout-cell-1,
.u-section-1 .u-layout-cell-2 {
  min-height: 335px;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 0;
}
.u-section-1 .u-text-1 {
  
  font-weight: 700;
  margin: 7px 30px 0;
}
.u-section-1 .u-text-2 {
  margin: 14px 30px 0;
}
.u-section-1 .u-container-layout-2 {
  padding: 13px 15px;
}
.u-section-1 .u-image-1 {
  width: 287px;
  height: 287px;
  object-position: 51.59% 37.78%;
  background-size: 200%;
  margin: 0 auto;
}
.u-section-1 .u-layout-wrap-2 {
  width: 412px;
  margin: -79px auto 12px 18px;
}
.u-section-1 .u-layout-cell-3,
.u-section-1 .u-layout-cell-4 {
  min-height: 79px;
}
.u-section-1 .u-container-layout-3 {
  padding: 16px;
}
.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  
  font-weight: 700;
  --radius: 6px;
  margin: 0 0 0 auto;
  padding: 7px 16px 8px 14px;
}
.u-section-1 .u-container-layout-4 {
  padding: 13px 24px;
}
.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  
  font-weight: 700;
  --radius: 6px;
  margin: 9px auto 0;
  padding: 6px 16px 8px 15px;
}
@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
	min-height: 486px;
  }
.u-section-1 .u-layout-cell-1 {
	min-height: 304px;
  }
  .u-section-1 .u-container-layout-1 {
	padding-top: 6px;
	padding-bottom: 6px;
  }
  .u-section-1 .u-text-2 {
	margin-left: 0;
	margin-right: 0;
  }
  .u-section-1 .u-layout-cell-2 {
	min-height: 304px;
  }
  .u-section-1 .u-image-1 {
	width: 268px;
	height: 268px;
  }
  .u-section-1 .u-btn-1 {
	margin-top: -37px;
	margin-left: 0;
  }
  .u-section-1 .u-btn-2 {
	margin-top: 21px;
	margin-left: 180px;
  }
}
@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
	min-height: 358px;
  }
  .u-section-1 .u-text-2 {
	width: auto;
	margin-top: 12px;
  }
  .u-section-1 .u-layout-cell-2 {
	min-height: 358px;
  }
  .u-section-1 .u-image-1 {
	width: 198px;
	height: 198px;
  }
  .u-section-1 .u-layout-wrap-2 {
	margin-bottom: 14px;
  }
  .u-section-1 .u-layout-cell-3,
  .u-section-1 .u-layout-cell-4  {
	min-height: 100px;
  }
  .u-section-1 .u-btn-1 {
	margin-top: 0;
	margin-left: auto;
  }
  .u-section-1 .u-btn-2 {
	margin-top: 9px;
	margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
	min-height: 635px;
  }
  .u-section-1 .u-layout-wrap-1 {
	margin-top: 100px;
  }
  .u-section-1 .u-layout-cell-1 {
	min-height: 253px;
  }
  .u-section-1 .u-layout-cell-2 {
	min-height: 288px;
  }
  .u-section-1 .u-container-layout-2 {
	padding-left: 10px;
	padding-right: 10px;
  }
  .u-section-1 .u-layout-wrap-2 {
	width: 357px;
	margin-top: -384px;
	margin-left: auto;
	margin-bottom: 12px;
  }
  .u-section-1 .u-layout-cell-3,
  .u-section-1 .u-layout-cell-4  {
	min-height: 121px;
  }
  .u-section-1 .u-container-layout-3 {
	padding: 10px;
  }
  .u-section-1 .u-container-layout-4 {
	padding-left: 10px;
	padding-right: 10px;
  }
  .u-section-1 .u-btn-2 {
	padding-right: 5px;
	padding-left: 4px;
  }
}
@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
	min-height: 486px;
  }
  .u-section-1 .u-layout-wrap-1 {
	position: relative;
  }
  .u-section-1 .u-layout-cell-1 {
	min-height: 382px;
  }
  .u-section-1 .u-layout-cell-2 {
	min-height: 188px;
  }
  .u-section-1 .u-layout-wrap-2 {
	margin-top: -331px;
	margin-bottom: 7px;
	margin-right: initial;
	margin-left: initial;
	width: auto;
  }
  .u-section-1 .u-layout-cell-3,
  .u-section-1 .u-layout-cell-4  {
	min-height: 100px;
  }
  .u-section-1 .u-container-layout-3 {
	padding-left: 6px;
	padding-right: 6px;
  }
  .u-section-1 .u-btn-1 {
	margin-top: 22px;
  }
   }
  .u-section-1 .u-btn-2 {
	padding-right: 1px;
	padding-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2007px;
}
.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 51px 41px 0 21px;
}
.u-section-2 .u-layout-wrap-1 {
  margin-top: 21px;
  margin-bottom: 14px;
}
.u-section-2 .u-layout-cell-1,
.u-section-2 .u-layout-cell-2 {
  min-height: 597px;
}
.u-section-2 .u-container-layout-1,
.u-section-2 .u-container-layout-2,
.u-section-2 .u-container-layout-3,
.u-section-2 .u-container-layout-5 {
  padding: 0;
}
.u-section-2 .u-text-2 {
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  margin: 22px 5px 0 8px;
}
.u-section-2 .u-text-3 {
  font-weight: 400;
  text-transform: none;
  margin: 22px 5px 0 8px;
}

.u-section-2 .u-gallery-inner-1,
.u-section-2 .u-gallery-inner-2,
.u-section-2 .u-gallery-inner-3,
.u-section-2 .u-gallery-inner-4,
.u-section-2 .u-gallery-inner-5,
.u-section-2 .u-gallery-inner-6 {
  --gap: 0px;
}
.u-section-2 .u-carousel-item-1,
.u-section-2 .u-carousel-item-2,
.u-section-2 .u-carousel-item-3,
.u-section-2 .u-carousel-item-4,
.u-section-2 .u-carousel-item-5,
.u-section-2 .u-carousel-item-6,
.u-section-2 .u-carousel-item-7,
.u-section-2 .u-carousel-item-8,
.u-section-2 .u-carousel-item-9,
.u-section-2 .u-carousel-item-10,
.u-section-2 .u-carousel-item-11,
.u-section-2 .u-carousel-item-12,
.u-section-2 .u-carousel-item-13,
.u-section-2 .u-carousel-item-14,
.u-section-2 .u-carousel-item-16,
.u-section-2 .u-carousel-item-17,
.u-section-2 .u-carousel-item-18,
.u-section-2 .u-carousel-item-19,
.u-section-2 .u-carousel-item-20,
.u-section-2 .u-carousel-item-21,
.u-section-2 .u-carousel-item-22,
.u-section-2 .u-carousel-item-23,
.u-section-2 .u-carousel-item-24,
.u-section-2 .u-carousel-item-25,
.u-section-2 .u-carousel-item-26,
.u-section-2 .u-carousel-item-27,
.u-section-2 .u-carousel-item-28,
.u-section-2 .u-carousel-item-29,
.u-section-2 .u-carousel-item-30,
.u-section-2 .u-carousel-item-31,
.u-section-2 .u-carousel-item-32,
.u-section-2 .u-carousel-item-33,
.u-section-2 .u-carousel-item-34,
.u-section-2 .u-carousel-item-35,
.u-section-2 .u-carousel-item-36,
.u-section-2 .u-carousel-item-37,
.u-section-2 .u-carousel-item-38,
.u-section-2 .u-carousel-item-39,
.u-section-2 .u-carousel-item-40,
.u-section-2 .u-carousel-item-41,
.u-section-2 .u-carousel-item-42,
.u-section-2 .u-carousel-item-43,
.u-section-2 .u-carousel-item-44 {
  margin-right: 0;
}
.u-section-2 .u-back-image-1,
.u-section-2 .u-back-image-2,
.u-section-2 .u-back-image-7 {
  object-position: 50% 32.72%;
}
.u-section-2 .u-over-slide-1,
.u-section-2 .u-over-slide-2,
.u-section-2 .u-over-slide-3,
.u-section-2 .u-over-slide-4,
.u-section-2 .u-over-slide-5,
.u-section-2 .u-over-slide-6,
.u-section-2 .u-over-slide-7,
.u-section-2 .u-over-slide-8,
.u-section-2 .u-over-slide-9,
.u-section-2 .u-over-slide-10,
.u-section-2 .u-over-slide-11,
.u-section-2 .u-over-slide-12,
.u-section-2 .u-over-slide-13,
.u-section-2 .u-over-slide-14,
.u-section-2 .u-over-slide-15,
.u-section-2 .u-over-slide-16,
.u-section-2 .u-over-slide-17,
.u-section-2 .u-over-slide-18,
.u-section-2 .u-over-slide-19,
.u-section-2 .u-over-slide-20,
.u-section-2 .u-over-slide-21,
.u-section-2 .u-over-slide-22,
.u-section-2 .u-over-slide-23,
.u-section-2 .u-over-slide-24,
.u-section-2 .u-over-slide-25,
.u-section-2 .u-over-slide-26,
.u-section-2 .u-over-slide-27,
.u-section-2 .u-over-slide-28,
.u-section-2 .u-over-slide-29,
.u-section-2 .u-over-slide-30,
.u-section-2 .u-over-slide-31,
.u-section-2 .u-over-slide-32,
.u-section-2 .u-over-slide-33,
.u-section-2 .u-over-slide-34,
.u-section-2 .u-over-slide-35,
.u-section-2 .u-over-slide-36,
.u-section-2 .u-over-slide-37,
.u-section-2 .u-over-slide-38,
.u-section-2 .u-over-slide-39,
.u-section-2 .u-over-slide-40,
.u-section-2 .u-over-slide-41,
.u-section-2 .u-over-slide-42,
.u-section-2 .u-over-slide-43,
.u-section-2 .u-over-slide-44 {
  min-height: 100px;
  padding: 10px;
}
.u-section-2 .u-back-image-3 {
  object-position: 50% 40.48%;
}
.u-section-2 .u-back-image-4 {
  object-position: 50% 100%;
}
.u-section-2 .u-back-image-5 {
  object-position: 50% 33.38%;
}
.u-section-2 .u-back-image-6 {
  object-position: 91.38% 75.4%;
}
.u-section-2 .u-carousel-thumbnails-1 {
  padding: 10px 0 0;
}
.u-section-2 .u-carousel-thumbnail-1,
.u-section-2 .u-carousel-thumbnail-2,
.u-section-2 .u-carousel-thumbnail-3,
.u-section-2 .u-carousel-thumbnail-4,
.u-section-2 .u-carousel-thumbnail-5,
.u-section-2 .u-carousel-thumbnail-6,
.u-section-2 .u-carousel-thumbnail-7,
.u-section-2 .u-carousel-thumbnail-19,
.u-section-2 .u-carousel-thumbnail-20,
.u-section-2 .u-carousel-thumbnail-21,
.u-section-2 .u-carousel-thumbnail-22,
.u-section-2 .u-carousel-thumbnail-23,
.u-section-2 .u-carousel-thumbnail-24,
.u-section-2 .u-carousel-thumbnail-25,
.u-section-2 .u-carousel-thumbnail-26,
.u-section-2 .u-carousel-thumbnail-27,
.u-section-2 .u-carousel-thumbnail-28,
.u-section-2 .u-carousel-thumbnail-29,
.u-section-2 .u-carousel-thumbnail-30,
.u-section-2 .u-carousel-thumbnail-31,
.u-section-2 .u-carousel-thumbnail-32,
.u-section-2 .u-carousel-thumbnail-33,
.u-section-2 .u-carousel-thumbnail-34,
.u-section-2 .u-carousel-thumbnail-35,
.u-section-2 .u-carousel-thumbnail-36,
.u-section-2 .u-carousel-thumbnail-37,
.u-section-2 .u-carousel-thumbnail-38,
.u-section-2 .u-carousel-thumbnail-39,
.u-section-2 .u-carousel-thumbnail-40,
.u-section-2 .u-carousel-thumbnail-41,
.u-section-2 .u-carousel-thumbnail-42,
.u-section-2 .u-carousel-thumbnail-43,
.u-section-2 .u-carousel-thumbnail-44 {
  width: 50px;
  height: 49px;
}
.u-section-2 .u-carousel-control-1,
.u-section-2 .u-carousel-control-5,
.u-section-2 .u-carousel-control-7,
.u-section-2 .u-carousel-control-9 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}
.u-section-2 .u-carousel-control-2,
.u-section-2 .u-carousel-control-6,
.u-section-2 .u-carousel-control-8,
.u-section-2 .u-carousel-control-10 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
  padding: 10px;
}
.u-section-2 .u-text-4 {
  
  font-weight: 700;
  font-style: italic;
  margin: 22px 8px 0;
}
.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 22px 8px 0;
}
.u-section-2 .u-gallery-1,
.u-section-2 .u-gallery-2 {
  height: 375px;
  margin-top: 6px;
  margin-bottom: 0;
  width: 100%;
}
.u-section-2 .u-back-image-8,
.u-section-2 .u-back-image-9,
.u-section-2 .u-back-image-10,
.u-section-2 .u-back-image-11,
.u-section-2 .u-back-image-12,
.u-section-2 .u-back-image-13,
.u-section-2 .u-back-image-16,
.u-section-2 .u-back-image-17,
.u-section-2 .u-back-image-18  {
  object-position: 50% 24.18%;
}
.u-section-2 .u-back-image-14 {
  object-position: 50% 50.36%;
}
.u-section-2 .u-back-image-15 {
  object-position: 50% 70.59%;
}
.u-section-2 .u-carousel-thumbnails-2 {
  padding: 10px 0 0;
}
.u-section-2 .u-carousel-thumbnail-8,
.u-section-2 .u-carousel-thumbnail-9,
.u-section-2 .u-carousel-thumbnail-10,
.u-section-2 .u-carousel-thumbnail-11,
.u-section-2 .u-carousel-thumbnail-12,
.u-section-2 .u-carousel-thumbnail-13,
.u-section-2 .u-carousel-thumbnail-14,
.u-section-2 .u-carousel-thumbnail-15,
.u-section-2 .u-carousel-thumbnail-16,
.u-section-2 .u-carousel-thumbnail-17,
.u-section-2 .u-carousel-thumbnail-18 {
  width: 48px;
  height: 49px;
}
.u-section-2 .u-carousel-control-3 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  right: auto;
}
.u-section-2 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
}
.u-section-2 .u-layout-cell-3,
.u-section-2 .u-layout-cell-4 {
  min-height: 615px;
}
.u-section-2 .u-text-6 {
  font-weight: 700;
  font-style: italic;
  margin: 23px 8px 0;
}
.u-section-2 .u-text-7 {
  font-weight: 400;
  margin: 22px 0 0;
}
.u-section-2 .u-gallery-3 {
  height: 375px;
  margin-top: 11px;
  margin-bottom: 0;
}
.u-section-2 .u-carousel-thumbnails-3,
.u-section-2 .u-carousel-thumbnails-4,
.u-section-2 .u-carousel-thumbnails-5,
.u-section-2 .u-carousel-thumbnails-6 {
  padding-top: 10px;
}
.u-section-2 .u-container-layout-4 {
  padding: 23px 8px 23px 1px;
}
.u-section-2 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  margin: 0 8px;
}
.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: 22px 0 0;
}
.u-section-2 .u-gallery-4 {
  height: 375px;
  margin-top: 11px;
  margin-bottom: 0;
}
.u-section-2 .u-back-image-26 {
  object-position: 50% 60.01%;
}
.u-section-2 .u-back-image-27 {
  object-position: 50% 58.71%;
}
.u-section-2 .u-back-image-28 {
  object-position: 50% 60.01%;
}
.u-section-2 .u-layout-cell-5 {
  min-height: 659px;
}
.u-section-2 .u-text-10 {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  margin: 22px auto 0;
}
.u-section-2 .u-text-11,
.u-section-2 .u-text-13 {
  font-weight: 400;
  margin: 23px 0 0;
}
.u-section-2 .u-back-image-30 {
  object-position: 50% 51.53%;
}
.u-section-2 .u-back-image-31 {
  object-position: 50% 63.32%;
}
.u-section-2 .u-back-image-32 {
  object-position: 50% 31.19%;
}
.u-section-2 .u-back-image-33 {
  object-position: 50% 71.43%;
}
.u-section-2 .u-back-image-34 {
  object-position: 50% 52.72%;
}
.u-section-2 .u-back-image-35 {
  object-position: 50% 35.71%;
}
.u-section-2 .u-back-image-36 {
  object-position: 50% 14.25%;
}
.u-section-2 .u-back-image-37 {
  object-position: 50% 25.36%;
}
.u-section-2 .u-back-image-29,
.u-section-2 .u-back-image-38 {
  object-position: 50% 0%;
}
.u-section-2 .u-back-image-39 {
  object-position: 50% 17.82%;
}
.u-section-2 .u-layout-cell-6 {
  min-height: 659px;
}
.u-section-2 .u-container-layout-6 {
  padding: 0 0 19px;
}
.u-section-2 .u-text-12 {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  margin: 22px auto 0;
}
.u-section-2 .u-gallery-6,
.u-section-2 .u-gallery-5 {
  height: 375px;
  margin-top: 23px;
  margin-bottom: 0;
}
.u-section-2 .u-back-image-40 {
  object-position: 50% 33.45%;
}
.u-section-2 .u-back-image-41 {
  object-position: 50% 35.43%;
}
.u-section-2 .u-back-image-42 {
  object-position: 50% 66.46%;
}
.u-section-2 .u-back-image-43 {
  object-position: 50% 32.26%;
}
.u-section-2 .u-back-image-44 {
  object-position: 50% 59.87%;
}
.u-section-2 .u-carousel-control-11 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  right: auto;
  --radius: 20px;
  padding: 10px;
}
.u-section-2 .u-carousel-control-12 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
  --radius: 20px;
  padding: 10px;
}
@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
	min-height: 1677px;
  }
  .u-section-2 .u-layout-cell-1 {
	min-height: 492px;
  }
  .u-section-2 .u-carousel-item-1,
  .u-section-2 .u-carousel-item-2,
  .u-section-2 .u-carousel-item-3,
  .u-section-2 .u-carousel-item-4,
  .u-section-2 .u-carousel-item-5,
  .u-section-2 .u-carousel-item-6,
  .u-section-2 .u-carousel-item-7,
  .u-section-2 .u-carousel-item-9,
  .u-section-2 .u-carousel-item-10,
  .u-section-2 .u-carousel-item-11,
  .u-section-2 .u-carousel-item-12,
  .u-section-2 .u-carousel-item-13,
  .u-section-2 .u-carousel-item-14,
  .u-section-2 .u-carousel-item-15,
  .u-section-2 .u-carousel-item-16,
  .u-section-2 .u-carousel-item-17,
  .u-section-2 .u-carousel-item-18,
  .u-section-2 .u-carousel-item-29,
  .u-section-2 .u-carousel-item-30,
  .u-section-2 .u-carousel-item-31,
  .u-section-2 .u-carousel-item-32,
  .u-section-2 .u-carousel-item-33,
  .u-section-2 .u-carousel-item-34,
  .u-section-2 .u-carousel-item-35,
  .u-section-2 .u-carousel-item-36,
  .u-section-2 .u-carousel-item-37,
  .u-section-2 .u-carousel-item-38,
  .u-section-2 .u-carousel-item-39,
  .u-section-2 .u-carousel-item-40,
  .u-section-2 .u-carousel-item-41,
  .u-section-2 .u-carousel-item-42,
  .u-section-2 .u-carousel-item-43  {
	margin-right: initial;
	margin-top: initial;
  }
  .u-section-2 .u-carousel-thumbnail-1,
  .u-section-2 .u-carousel-thumbnail-2,
  .u-section-2 .u-carousel-thumbnail-3,
  .u-section-2 .u-carousel-thumbnail-4,
  .u-section-2 .u-carousel-thumbnail-5
  .u-section-2 .u-carousel-thumbnail-6
  .u-section-2 .u-carousel-thumbnail-7  {
	width: 14px;
	height: 11px;
  }
  .u-section-2 .u-carousel-control-1,
  .u-section-2 .u-carousel-control-2,
  .u-section-2 .u-carousel-control-5,
  .u-section-2 .u-carousel-control-6,
  .u-section-2 .u-carousel-control-7,
  .u-section-2 .u-carousel-control-8,
  .u-section-2 .u-carousel-control-9,
  .u-section-2 .u-carousel-control-10,
  .u-section-2 .u-carousel-control-11,
  .u-section-2 .u-carousel-control-12  {
	top: 122px;
  }
   .u-section-2 .u-carousel-item-8,
   .u-section-2 .u-carousel-item-19,
   .u-section-2 .u-carousel-item-20,
   .u-section-2 .u-carousel-item-21,
   .u-section-2 .u-carousel-item-22,
   .u-section-2 .u-carousel-item-23,
   .u-section-2 .u-carousel-item-24,
   .u-section-2 .u-carousel-item-25,
   .u-section-2 .u-carousel-item-26,
   .u-section-2 .u-carousel-item-27,
   .u-section-2 .u-carousel-item-28,
   .u-section-2 .u-carousel-item-44   {
	margin-right: initial;
  }
  .u-section-2 .u-layout-cell-2 {
	min-height: 594px;
  }
  .u-section-2 .u-text-1,
  .u-section-2 .u-text-2,
  .u-section-2 .u-text-3,
  .u-section-2 .u-text-4,
  .u-section-2 .u-text-5,
  .u-section-2 .u-text-6,
  .u-section-2 .u-text-8  {
	margin-left: 0;
	margin-right: 0;
  }
  .u-section-2 .u-gallery-2 {
	width: auto;
  }
  .u-section-2 .u-carousel-thumbnail-8,
  .u-section-2 .u-carousel-thumbnail-9,
  .u-section-2 .u-carousel-thumbnail-10,
  .u-section-2 .u-carousel-thumbnail-11,
  .u-section-2 .u-carousel-thumbnail-12,
  .u-section-2 .u-carousel-thumbnail-13,
  .u-section-2 .u-carousel-thumbnail-14,
  .u-section-2 .u-carousel-thumbnail-15,
  .u-section-2 .u-carousel-thumbnail-16,
  .u-section-2 .u-carousel-thumbnail-17,
  .u-section-2 .u-carousel-thumbnail-18 {
	width: 9px;
	height: 7px;
  }
  .u-section-2 .u-carousel-control-3, 
  .u-section-2 .u-carousel-control-4 {
	top: 172px;
  }
  .u-section-2 .u-layout-cell-3 {
	min-height: 656px;
  }
  .u-section-2 .u-layout-cell-4 {
	min-height: 507px;
  }
  .u-section-2 .u-layout-cell-5,
  .u-section-2 .u-layout-cell-6  {
	min-height: 543px;
  }
  .u-section-2 .u-carousel-item-29,
  .u-section-2 .u-carousel-item-30,
  .u-section-2 .u-carousel-item-31,
  .u-section-2 .u-carousel-item-32,
  .u-section-2 .u-carousel-item-33,
  .u-section-2 .u-carousel-item-34,
  .u-section-2 .u-carousel-item-35,
  .u-section-2 .u-carousel-item-36,
  .u-section-2 .u-carousel-item-37,
  .u-section-2 .u-carousel-item-38,
  .u-section-2 .u-carousel-item-39 
  {
	width: 42px;
	height: 33px;
  }
}
@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
	min-height: 431px;
  }
  .u-section-2 .u-layout-cell-1,
  .u-section-2 .u-layout-cell-3,
  .u-section-2 .u-layout-cell-4,
  .u-section-2 .u-layout-cell-5,
  .u-section-2 .u-layout-cell-6  {
	min-height: 100px;
  }
  .u-section-2 .u-layout-cell-2 {
	min-height: 651px;
  }
  .u-section-2 .u-carousel-item-19,
  .u-section-2 .u-carousel-item-20,
  .u-section-2 .u-carousel-item-21,
  .u-section-2 .u-carousel-item-22,
  .u-section-2 .u-carousel-item-23,
  .u-section-2 .u-carousel-item-24,
  .u-section-2 .u-carousel-item-25  {
	width: 51px;
	height: 40px;
  }
  .u-section-2 .u-carousel-item-29,
  .u-section-2 .u-carousel-item-30,
  .u-section-2 .u-carousel-item-31,
  .u-section-2 .u-carousel-item-32,
  .u-section-2 .u-carousel-item-33,
  .u-section-2 .u-carousel-item-34,
  .u-section-2 .u-carousel-item-35,
  .u-section-2 .u-carousel-item-36,
  .u-section-2 .u-carousel-item-37,
  .u-section-2 .u-carousel-item-38,
  .u-section-2 .u-carousel-item-39  {
	width: 32px;
	height: 25px;
  }
}
@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
	min-height: 731px;
  }
  .u-section-2 .u-layout-cell-1,
  .u-section-2 .u-layout-cell-2  {
	min-height: 548px;
  }
  .u-section-2 .u-layout-cell-3 {
	min-height: 579px;
  }
  .u-section-2 .u-layout-cell-5 {
	min-height: 591px;
  }
}
@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
	width: auto;
	margin-top: 44px;
  }
  .u-section-2 .u-layout-cell-1 {
	min-height: 592px;
  }
  .u-section-2 .u-layout-cell-2 {
	min-height: 618px;
  }
  .u-section-2 .u-layout-cell-3 {
	min-height: 648px;
  }
  .u-section-2 .u-carousel-item-19,
  .u-section-2 .u-carousel-item-20,
  .u-section-2 .u-carousel-item-21,
  .u-section-2 .u-carousel-item-22,
  .u-section-2 .u-carousel-item-23,
  .u-section-2 .u-carousel-item-24,
  .u-section-2 .u-carousel-item-25  {
	width: 49px;
	height: 38px;
  }
  .u-section-2 .u-layout-cell-5 {
	min-height: 609px;
  }
  .u-section-2 .u-carousel-item-29,
  .u-section-2 .u-carousel-item-30,
  .u-section-2 .u-carousel-item-31,
  .u-section-2 .u-carousel-item-32,
  .u-section-2 .u-carousel-item-33,
  .u-section-2 .u-carousel-item-34,
  .u-section-2 .u-carousel-item-35,
  .u-section-2 .u-carousel-item-36,
  .u-section-2 .u-carousel-item-37,
  .u-section-2 .u-carousel-item-38,
  .u-section-2 .u-carousel-item-39  {
	width: 31px;
	height: 24px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 466px;
}
.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 14px;
}
.u-section-3 .u-layout-cell-1 {
  min-height: 482px;
}
.u-section-3 .u-container-layout-1 {
  padding: 0;
}
.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 42px 0 0;
}
.u-section-3 .u-text-2 {
  margin: 28px 14px 0 0;
}
.u-section-3 .u-table-1 {
  width: 702px;
  margin: 42px auto 0;
}
.u-block-ee67-90,
.u-block-ee67-105 {
  height: 47px;
}
.u-section-3 .u-table-cell {
  background-image: linear-gradient(to right, #adcce9, white);
}
@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
	min-height: 394px;
  }
  .u-section-3 .u-layout-cell-1 {
	min-height: 697px;
  }
  .u-section-3 .u-text-2 {
	margin-right: 0;
  }
}
@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
	min-height: 498px;
  }
  .u-section-3 .u-layout-wrap-1 {
	margin-bottom: 13px;
  }
  .u-section-3 .u-layout-cell-1 {
	min-height: 515px;
  }
}
@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
	min-height: 694px;
  }
  .u-section-3 .u-table-1 {
	width: 540px;
  }
}
@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
	min-height: 814px;
  }

  .u-section-3 .u-table-1 {
	width: 361px;
	margin-top: 70px;
	margin-left: -11px;
	margin-right: -11px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 481px;
}
.u-section-4 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  width: 352px;
  margin: 30px auto 0;
}
.u-section-4 .u-list-1 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.u-section-4 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 375px;
}
.u-section-4 .u-container-layout-1 {
  padding: 10px;
}
.u-section-4 .u-video-1 {
  width: 495px;
  height: 284px;
  margin: 21px 25px 0;
}
.u-section-4 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 11px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}
.u-section-4 .u-video-2 {
  width: 495px;
  height: 284px;
  margin: 21px 25px 0;
}
.u-section-4 .u-text-3 {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 11px auto 0;
}
@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
	margin-bottom: 24px;
  }
  .u-section-4 .u-repeater-1 {
	min-height: 362px;
  }
  .u-section-4 .u-container-layout-1 {
	padding: 0;
  }
  .u-section-4 .u-video-1 {
	width: 419px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
  }
  .u-section-4 .u-text-2 {
	margin-top: 12px;
  }
  .u-section-4 .u-container-layout-2 {
	padding: 0;
  }
  .u-section-4 .u-video-2 {
	width: 419px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
  }
  .u-section-4 .u-text-3 {
	margin-top: 12px;
  }
}
@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
	grid-auto-columns: calc(100% - 0px);
	grid-template-columns: 100%;
  }
}
@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
	font-size: 1rem;
  }
  .u-section-4 .u-text-3 {
	font-size: 1rem;
  }
}
@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
	width: 340px;
  }
  .u-section-4 .u-video-1,
  .u-section-4 .u-video-2  {
	width: 340px;
	height: 228px;
  }
}
.u-section-5 .u-sheet-1 {
  min-height: 139px;
}
.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  
  text-shadow: -4px 9px 5px rgba(128,128,128,1);
  margin: 28px 101px 0 570px;
}
.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: -65px 570px 50px 173px;
}
@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
	min-height: 164px;
  }
  .u-section-5 .u-text-1 {
	margin-top: 81px;
	margin-right: 1px;
	margin-left: 470px;
  }
  .u-section-5 .u-text-2 {
	margin-top: -95px;
	margin-right: 470px;
	margin-left: 73px;
  }
}
@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
	min-height: 222px;
  }
  .u-section-5 .u-text-1 {
	width: 486px;
	margin-top: 85px;
	margin-left: auto;
	margin-right: auto;
  }
  .u-section-5 .u-text-2 {
	width: 397px;
	margin-top: -136px;
	margin-left: auto;
	margin-right: auto;
  }
}
@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
	font-size: 1.1111111111111112rem;
	width: 427px;
	margin-top: 88px;
  }
  .u-section-5 .u-text-2 {
	margin-top: -139px;
  }
}
@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
	min-height: 182px;
  }
  .u-section-5 .u-text-1 {
	font-size: 0.875rem;
	width: auto;
	margin-top: 61px;
	margin-left: 0;
	margin-right: 0;
  }
  .u-section-5 .u-text-2 {
	width: auto;
	margin: -94px 0 65px;
  }
}